
.navbar{   
    list-style-type: none;
    border-style:none;
    border:blue; 
    width: 26%;
    height:max-content;
    float: left;
    display:block;
    margin-top: 2%;
    padding: 0;
    /*margin-right: 50px;*/
    position:fixed;
    overflow: auto;
    background-color:antiquewhite;
  }
  body{
    background-color: cornsilk;
    
  }
  
  
    
 
    


  .main-doc{
    border: none; 
    background-color: bisque;
    width: 70%;
    height: 100%;
    float:right;
    display: inline;   
    /*position: fixed;*/  
    padding-left: 2%;
    padding-top: 2%;
    margin-top: 2%
  }